.states {
    background-image: linear-gradient(132deg,#e94f1c,#e6007e 50%,#fabb00);
    color: #ffffff;
    .counter {
        text-align: center;
        padding: 15px 0;
        h3 {
            font-size: 42px;
        }
    }
}